.video-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    /* Modo simplificado e automatico de orgazinar as colunas da grade */
    gap: 50px 15px;
    margin-right: 15px;
}

/*
@media (max-width: 800px) {
    .video-grid {
        grid-template-columns: 1fr;
    }
}

@media (min-width: 801px) and (max-width: 1300px) {
    .video-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (min-width: 1301px) and (max-width: 1600px) {
    .video-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media (min-width: 1601px) and (max-width: 2000px) {
    .video-grid {
        grid-template-columns: repeat(4, 1fr);
    }
}

@media (min-width: 2001px) and (max-width: 2500px) {
    .video-grid {
        grid-template-columns: repeat(5, 1fr);
    }
}
*/

.video-card {
    width: 100%;
}

.video-card a {
    text-decoration: none;
    color: black;
}

.thumbnail-container {
    margin-bottom: 4px;
    position: relative;
}

.thumbnail-container img {
    width: 100%;
    border-radius: 10px;
}

.video-time {
    position: absolute;
    bottom: 10px;
    right: 7px;

    background-color: rgba(0, 0, 0, 0.6);
    color: white;

    font: 500 12px Roboto, Arial, sans-serif;
    padding: 2px 4px;
    border-radius: 4px;
}

.video-info-grid {
    display: grid;
    grid-template-columns: 50px 1fr 25px;
    vertical-align: center;
}

.channel-profile-pic {
    width: 50px;
    vertical-align: top;
}

.channel-profile-pic img {
    width: 36px;
    border-radius: 50%;
    margin-top: 8px;
}

.video-title {
    font-weight: bold;
    line-height: 20px;
    margin: 8px 0;
    vertical-align: top;
}

.channel-name, .video-stats {
    display: block;
    font-size: 14px;
}

.channel-name {
    margin-bottom: 3px;
}

.channel-name a:hover {
    color: rgb(0, 0, 0);
}

.channel-name a, .video-stats {
    color: rgb(80, 80, 80);
}

.share-icon {
    width: 45px;
    height: 45px;
    margin-left: -10px;
    cursor: pointer;

    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.share-icon:active {
    background-color: rgb(212, 212, 212);
}

.share-icon img {
    width: 43px;
}

.tooltip-channel-container {
    position: relative;

    display: flex;
    justify-content: start;
    align-items: start;
}

.tooltip-channel {
    position: absolute;
    top: 50px;

    background-color: white;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-family: Roboto, Arial, sans-serif;

    opacity: 0;
    transition: opacity 0.5s;

    pointer-events: none;
    white-space: nowrap;

    display: grid;
    grid-template-columns: 60px 1fr;
    align-items: center;
    column-gap: 10px;
}

.tooltip-channel-container:hover .tooltip-channel {
    opacity: 1;
}

.tooltip-channel img {
    width: 60px;
    height: 60px;
    margin: 0;
    margin-left: 5px;
}

.tooltip-channel-info {
    margin-right: 8px;
}

.tooltip-channel-name {
    font: bold 18px Roboto, Arial, sans-serif;
    padding-bottom: 5px;
}

.subscribers {
    font: normal 12px Roboto, Arial, sans-serif;
}