body {
    background-color: rgb(25, 25, 25);
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    text-align: center;
    margin: 0;
}

.title {
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 20px;
}

.jokenpo {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    max-width: 100%;
}

.move-icon {
    height: 50px;
}

.move-button {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 3px solid white;
    background-color: transparent;
    margin: 0 5px;
    cursor: pointer;
    transition: 0.3s;
    max-width: 100%;
}

.move-button:hover {
    transform: scale(1.1);
}

.move-button:active {
    transform: scale(1.0);
    transition: 0s;
}

.result {
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
}

.score {
    margin-top: 40px;
}

.reset-score-button {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 20px;
    transition: 0.2s;
}

.reset-score-button:hover {
    background-color: rgb(200, 200, 200);
}

.reset-score-button:active {
    transform: scale(0.9);
}

footer {
    position: absolute;
    bottom: 0;
    margin-bottom: 10px;
    font-size: 11px;
}

footer a {
    color: white;
    text-decoration: none;
    transition: 0.3s;
}

footer a:hover {
    padding: 0 5px;
    color: rgb(0, 191, 255);
    text-decoration: underline;
    font-size: 16px;
}

/* MEDIA QUERIES PARA TELAS PEQUENAS */
@media (max-width: 600px) {
    .move-button {
        width: 90px;  /* Reduz o tamanho dos botões */
        height: 90px;
    }

    .move-icon {
        height: 40px; /* Reduz o tamanho das imagens */
    }

    .title {
        font-size: 28px; /* Reduz o tamanho do título */
    }

    .result {
        min-width: 0;
        max-width: 430px;
    }
}