.footer {
    background-color: #f2f2f2;
    width: 100%;
    min-height: 94px;
    max-height: 186px;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.line1 {
    padding: 15px 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.line2 {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-left, .list-right {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.line2 a {
    color: #333333;
    padding: 15px;
}

.line2 a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .line2 {
        justify-content: space-evenly;
    }
}