.footer {
    position: absolute;
    bottom: 0;
    background-color: #f2f2f2;
    width: 100%;
    color: #000000;
    margin-top: auto;
}

.footer .line {
    padding: 15px 20px;
    border: 1px solid rgba(0, 0, 0, 0.05);
}

.location {
    margin-left: 10px;
}

.line2 {
    display: flex;
    justify-content: space-between;
}

.line2 ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0 10px;
}


.line2 ul li {
    font-size: 14px;
}

.line2 ul li a {
    text-decoration: none;
    color: #000000;
}

.line2 ul li a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .line2 {
        justify-content: space-around;
    }
}

@media (max-width: 790px) {
    .line2 {
        flex-direction: column;
        align-items: center;
        row-gap: 20px;
    }

}