* {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    min-width: 400px;
    height: 100dvh;
    display: flex;
    flex-direction: column;
}

/* HEADER */

.header {
    height: 60px;
}

.header-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 20px;
}

.header .text a {
    text-decoration: none;
    color: black;
    font-size: 13px;
}

.header .text a:hover {
    text-decoration: underline;
}

.gmail, .imagens {
    display: inline-block;
}

.imagens {
    margin: 0 15px;
}

.apps-icon {
    height: 40px;
    padding: 8px;
}

.apps-icon:hover {
    background-color: rgb(245, 245, 245);
    border-radius: 50%;
}

.fazer-login {
    border: none;
    background-color: #0b57d0;
    padding: 10px 12px;
    margin-left: 10px;
    border-radius: 30px;
    font-size: 14px;
    cursor: pointer;
}

.fazer-login a {
    color: white;
    text-decoration: none;
}

.fazer-login:hover {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.fazer-login:active {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    opacity: 90%;
}

/* MAIN */

.main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.flex-1 {
    height: 100%;
    max-height: 290px;
    min-height: 92px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.google-logo {
    height: 100%;
    max-height: 92px;
    margin-top: auto;

    position: relative;
}

.google-img {
    width: auto;
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    object-position: center bottom;
}

.flex-2 {
    flex-grow: 1;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 25px 20px 20px 20px;
}

.search-container {
    width: 100%;
    min-width: 325px;
    max-width: 585px;
    height: 48px;
    padding: 0 13px;

    display: flex;
    align-items: center;

    border: 1px solid #e2e2e2;
    border-radius: 30px;
    box-shadow: 0 2px 10px #ccc;
}

.search-container:hover {
    border: 1px solid transparent;
    box-shadow: 0 2px 10px #ccc;
}

.search-icon {
    height: 20px;
    opacity: 50%;
}

.search-bar {
    flex-grow: 1;
    height: 30px;
    margin: 0 13px;
    border: none;
    outline: none;
    font-size: 16px;
}

.search-tia-icon {
    margin-right: 10px;
    cursor: pointer;
}

.search-mic-icon {
    height: 30px;
    cursor: pointer;
}

.button-search-container {
    margin-top: 30px;
}

.button-search-container button {
    display: inline-block;
    height: 36px;
    font-size: 14px;
    margin: 0 4px;
    padding: 0 16px;
    background-color: rgb(248, 249, 250);
    color: rgb(43, 43, 43);
    outline: none;
    border-radius: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.button-search-container button:hover {
    border: 1px solid #ccc;
    box-shadow: 0 1px 2px #ccc;
}

.button-lucky a {
    text-decoration: none;
    color: rgb(43, 43, 43);
}

/* FOOTER */

.footer {
    background-color: #f2f2f2;
    width: 100%;
    min-height: 94px;
    max-height: 186px;
    color: rgb(51, 51, 51);
    font-size: 14px;
}

.line1 {
    padding: 15px 30px;
    border-bottom: 1px solid rgb(216, 216, 216);
    font-size: 15px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.line2 {
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.list-left, .list-right {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.line2 a {
    color: #333333;
    padding: 15px;
}

.line2 a:hover {
    text-decoration: underline;
}

@media (max-width: 1200px) {
    .line2 {
        justify-content: space-evenly;
    }
}